# Copy this file to .env. The copied file is ignored by git.

APPLE_DEVELOPMENT_TEAM=
APP_BUNDLE_ID_PREFIX=dev.local.alarm-applewatch
IOS_APP_BUNDLE_ID=dev.local.alarm-applewatch
WATCH_APP_BUNDLE_ID=dev.local.alarm-applewatch.watchkitapp
WATCH_UDID=
WATCH_DEVICE=
IOS_DESTINATION_ID=
